# EPSY 5200: Programming for Social Science Researchers
## Assignment 11
### Due Wednesday, November 20, 2019 by 2:30pm

#### Problem 1

a) Fork this GitHub respoitory to your own account, then clone to your hard drive with GitKraken.  After finishing EACH problem below, make sure to STAGE and COMMIT with a comment.  Then PUSH back to GitHub.

b) Load helpful libraries in this Jupyter Notebook.

c) Import the *MA_Public_Schools_2017.csv* file as a pandas data frame.  Note: these data are from Kaggle: https://www.kaggle.com/ndalziel/massachusetts-public-schools-data and I have already removed a lot of columns.

d) Find the descriptives for numeric columns.

In [1]:
# Problem 1 code here (can split into multiple code chunks if you want)
import pandas as pd

In [5]:
ma_sch_2017 = pd.read_csv('MA_Public_Schools_2017.csv')
ma_sch_2017.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
School Code,1861.0,2.918442e+06,3.941407e+06,10002.00,9.700600e+05,2.100410e+06,3.310030e+06,3.902090e+07
District Code,1861.0,2.918254e+06,3.941370e+06,10000.00,9.700000e+05,2.100000e+06,3.310000e+06,3.902000e+07
PK_Enrollment,1861.0,1.583772e+01,3.778451e+01,0.00,0.000000e+00,0.000000e+00,1.500000e+01,5.600000e+02
K_Enrollment,1861.0,3.553520e+01,4.463299e+01,0.00,0.000000e+00,1.700000e+01,6.400000e+01,5.570000e+02
1_Enrollment,1861.0,3.662923e+01,4.273241e+01,0.00,0.000000e+00,2.200000e+01,6.600000e+01,2.450000e+02
2_Enrollment,1861.0,3.751854e+01,4.384267e+01,0.00,0.000000e+00,2.000000e+01,6.800000e+01,2.500000e+02
3_Enrollment,1861.0,3.858463e+01,4.654178e+01,0.00,0.000000e+00,1.600000e+01,7.100000e+01,3.190000e+02
4_Enrollment,1861.0,3.871736e+01,4.891556e+01,0.00,0.000000e+00,1.600000e+01,7.000000e+01,4.460000e+02
5_Enrollment,1861.0,3.808920e+01,5.504038e+01,0.00,0.000000e+00,0.000000e+00,6.600000e+01,4.870000e+02
6_Enrollment,1861.0,3.787963e+01,7.530429e+01,0.00,0.000000e+00,0.000000e+00,4.500000e+01,4.900000e+02
7_Enrollment,1861.0,3.854379e+01,8.132066e+01,0.00,0.000000e+00,0.000000e+00,2.200000e+01,5.110000e+02
8_Enrollment,1861.0,3.854057e+01,8.204883e+01,0.00,0.000000e+00,0.000000e+00,2.000000e+01,6.440000e+02
9_Enrollment,1861.0,4.093659e+01,1.071493e+02,0.00,0.000000e+00,0.000000e+00,0.000000e+00,1.223000e+03
10_Enrollment,1861.0,3.934498e+01,1.022343e+02,0.00,0.000000e+00,0.000000e+00,0.000000e+00,1.048000e+03
11_Enrollment,1861.0,3.830145e+01,1.000308e+02,0.00,0.000000e+00,0.000000e+00,0.000000e+00,9.780000e+02
12_Enrollment,1861.0,3.729017e+01,9.642055e+01,0.00,0.000000e+00,0.000000e+00,0.000000e+00,9.930000e+02
SP_Enrollment,1861.0,7.431488e-01,3.355883e+00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,4.300000e+01
% First Language Not English,1850.0,1.854827e+01,2.003104e+01,0.00,3.200000e+00,1.050000e+01,2.790000e+01,1.000000e+02
% English Language Learner,1850.0,9.548432e+00,1.316310e+01,0.00,9.000000e-01,3.600000e+00,1.320000e+01,8.290000e+01
% Students With Disabilities,1850.0,1.822368e+01,1.146250e+01,0.00,1.290000e+01,1.610000e+01,2.000000e+01,1.000000e+02
% High Needs,1850.0,4.661622e+01,2.296646e+01,0.00,2.740000e+01,4.120000e+01,6.497500e+01,1.000000e+02
% Economically Disadvantaged,1850.0,3.181665e+01,2.240991e+01,0.00,1.282500e+01,2.590000e+01,4.780000e+01,9.440000e+01
% African American,1850.0,8.699459e+00,1.369828e+01,0.00,1.400000e+00,3.300000e+00,8.700000e+00,8.690000e+01
% Asian,1850.0,6.050919e+00,8.763984e+00,0.00,1.200000e+00,2.600000e+00,6.900000e+00,7.370000e+01
% Hispanic,1850.0,1.899665e+01,2.257573e+01,0.00,4.000000e+00,8.200000e+00,2.730000e+01,9.800000e+01
% White,1850.0,6.232649e+01,2.956209e+01,0.00,4.100000e+01,7.320000e+01,8.660000e+01,1.000000e+02
% Native American,1850.0,2.334595e-01,5.017325e-01,0.00,0.000000e+00,0.000000e+00,3.000000e-01,8.000000e+00
"% Native Hawaiian, Pacific Islander",1850.0,9.800000e-02,2.858125e-01,0.00,0.000000e+00,0.000000e+00,1.000000e-01,6.100000e+00
"% Multi-Race, Non-Hispanic",1850.0,3.596595e+00,2.420830e+00,0.00,1.900000e+00,3.200000e+00,4.775000e+00,1.740000e+01
% Males,1850.0,5.189941e+01,5.121577e+00,24.00,4.940000e+01,5.140000e+01,5.360000e+01,1.000000e+02
% Females,1850.0,4.809514e+01,5.122469e+00,0.00,4.640000e+01,4.860000e+01,5.060000e+01,7.600000e+01
Average Class Size,1823.0,1.832057e+01,3.966979e+00,2.00,1.630000e+01,1.860000e+01,2.080000e+01,4.110000e+01
Number of Students,1823.0,5.235156e+02,3.578617e+02,2.00,3.065000e+02,4.450000e+02,6.345000e+02,4.327000e+03
Salary Totals,1769.0,5.625178e+07,9.335788e+07,55340.00,1.215839e+07,2.269741e+07,4.808571e+07,3.838662e+08
Average Salary,1769.0,7.403664e+04,7.990377e+03,34588.00,6.857200e+04,7.347100e+04,7.825600e+04,1.007310e+05
FTE Count,1769.0,7.078530e+02,1.065807e+03,2.00,1.660000e+02,3.080000e+02,6.270000e+02,4.323000e+03
In-District Expenditures,1768.0,1.518097e+08,2.661339e+08,697550.00,3.061598e+07,5.293331e+07,1.287478e+08,1.093104e+09
Total In-district FTEs,1768.0,9.376336e+03,1.401573e+04,38.40,2.312150e+03,4.205300e+03,7.700400e+03,5.685880e+04
Average In-District Expenditures per Pupil,1768.0,1.457386e+04,2.940803e+03,9451.51,1.278525e+04,1.359949e+04,1.547808e+04,3.878085e+04
Total Expenditures,1768.0,1.731198e+08,3.093057e+08,1132413.00,3.353242e+07,5.863741e+07,1.335444e+08,1.269580e+09
Total Pupil FTEs,1768.0,1.046607e+04,1.628747e+04,82.80,2.442900e+03,4.392000e+03,8.378900e+03,6.596460e+04
Average Expenditures per Pupil,1768.0,1.503825e+04,2.743977e+03,10399.97,1.333970e+04,1.413748e+04,1.590029e+04,3.050505e+04

#### Problem 2

a) Remove the District Code column.

b) Create a new column called "TOTAL_Enrollment" that is the sum of all columns that end in "Enrollment".

c) Compute the mean of "TOTAL_Enrollment" for each District. (Hint: groupby)

In [ ]:
# Problem 2 code here (can split into multiple code chunks if you want)

In [9]:
# part 2a)
ma_sch_2017.drop(['District Code'], axis = 1) # removing the District code column

,School Code,School Name,School Type,Town,State,Grade,District Name,PK_Enrollment,K_Enrollment,1_Enrollment,...,Number of Students,Salary Totals,Average Salary,FTE Count,In-District Expenditures,Total In-district FTEs,Average In-District Expenditures per Pupil,Total Expenditures,Total Pupil FTEs,Average Expenditures per Pupil
0,10505,Abington High,Public School,Abington,MA,"09,10,11,12",Abington,0,0,0,...,451.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
1,10003,Beaver Brook Elementary School,Public School,Abington,MA,"01,02,03,04",Abington,0,0,125,...,643.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
2,10002,Center Elementary School,Public School,Abington,MA,"PK,K",Abington,69,134,0,...,208.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
3,10405,Frolio Middle School,Public School,Abington,MA,"07,08",Abington,0,0,0,...,342.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
4,10015,Woodsdale Elementary School,Public School,Abington,MA,"05,06",Abington,0,0,0,...,334.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,35060505,Pioneer Charter School of Science II (PCSS-II),Charter School,Saugus,MA,"07,08,09,10,11,12",Pioneer Charter School of Science II (PCSS-II)...,0,0,0,...,267.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1857,35100205,Springfield Preparatory Charter School,Charter School,Springfield,MA,"K,01,02",Springfield Preparatory Charter School (District),0,54,54,...,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,39020900,TEC Connections Academy Commonwealth Virtual S...,Public School,East Walpole,MA,"K,01,02,03,04,05,06,07,08,09,10,11,12",TEC Connections Academy Commonwealth Virtual S...,0,20,27,...,1014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,35050405,UP Academy Charter School of Dorchester,Charter School,Boston,MA,"PK,K,01,02,03,04,05,06,07,08",UP Academy Charter School of Dorchester (Distr...,52,65,72,...,655.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,35120305,UP Academy Charter School of Springfield,Charter School,Boston,MA,"06,07,08",UP Academy Charter School of Springfield (Dist...,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# part 2b)
from pandas import *

# all_enrollment = ma_sch_2017.filter(regex = 'Enrollment$', axis = 1)

all_enrollment = ma_sch_2017.loc[:, ma_sch_2017.columns.str.endswith("Enrollment")]
ma_sch_2017['TOTAL_Enrollment'] = all_enrollment.sum(axis = 1)
ma_sch_2017['TOTAL_Enrollment']

# URL usage: https://cmdlinetips.com/2019/04/how-to-select-columns-using-prefix-suffix-of-column-names-in-pandas/

0        452.0
1        580.0
2        203.0
3        328.0
4        353.0
         ...
1856     322.0
1857     163.0
1858    1119.0
1859     744.0
1860       0.0
Name: TOTAL_Enrollment, Length: 1861, dtype: float64

#### Problem 3

a) Visualize the bivariate relationships among Average Class Size, Average Salary, % Economically Disadvantaged, and % English Language Learner.  Use the Seaborn function **pairplot**.

b) Describe what you see from the plots.

c) Based on your observations from 3b, and as a completely post-hoc, exploratory analysis, choose one of the 4 measures from 3a to be an outcome variable, and a second measure to be a predictor variable.  Then run a linear regression, print the summary, and write a couple sentences interpreting the results.

In [ ]:
# Problem 3 code here (can split into multiple code chunks if you want)

#### Problem 4

a) Create a new linear regression model that takes the model from 3c and adds both of the remaining variables from 3a as additional predictor variables, print the summary, and write a couple sentences interpreting the results, especially comparing it to Problem 3c.  

b) Add School Type as another predictor to your model.  Interpret the new predictor in your output.  How is it different from the other predictors?

In [ ]:
# Problem 4 code here (can split into multiple code chunks if you want)

#### Problem 5

a) Adapt your **pairplot** code from 3a to add the following argument:
`hue="School Type"`

b) Describe what changes in the pairplots, and what it represents.

In [ ]:
# Problem 5 code here (can split into multiple code chunks if you want)

#### Problem 6

a) Save this Jupyter notebook as an HTML file (File > Download As > HTML) into your local repository (this folder).

b) Stage, commit, and push all changes to your GitHub repository.

c) Submit a link to your repository as your submission for the assignment on Canvas.